*{
    box-sizing: border-box;
}
body{
    background-color: rgb(5, 64, 120);
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0;
    height: 100vh;
}

.timer{
    position: absolute;
    top: 3rem;
    font-size: 3rem;
    color:rgb(255, 255, 255);
}

.container{
    background-color: white;
    border:1px solid black;
    border-radius: .5rem;
    padding: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    width:700px;
    margin-top: 10vh;
    max-width: 90%;
}

.quote-text{
    margin: 0px 10px;
}
.quote-input{
    width:100%;
    background-color: rgb(152, 197, 237);
    border-radius: .5rem ;
    height: 40vh;
    resize:none;
    margin: 10px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    padding:5px 10px;
}

.quote-input:focus{
    border:3px solid black;
}

.correct{
    color:green;
}
.incorrect{
    color: red;
    text-decoration: underline;
}